.experience {
    padding: 0 0 4rem 0;
    &__column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }
        grid-gap: 2.5rem;
    }
    &__heading {
        font-family: $heading-font-family;
        text-align: center;
        color: $white;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 800;
        width: 170px;
        border-bottom: 2px solid #00a8ff;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        line-height: 2.2rem;
        margin-bottom: 3.5rem;
        margin-top: 2.5rem;
    }
    &__heading::before {
        content: "";
        position: absolute;
        left: 0;
        border: 1px solid $primary-blue;
        bottom: 0;
        height: 7px;
    }
    &__heading::after {
        content: "";
        position: absolute;
        right: 0;
        border: 1px solid $primary-blue;
        bottom: 0;
        height: 7px;
    }
    &__card {
        display: flex;
        margin: 2.5rem 0;
    }
    &__carddate {
        width: 13%;
        padding-right: 2%;
        @include iphone {
            width: 13%;
            padding-right: 0;
        }
        position: relative;
    }
    &__carddetails {
        width: 82%;
        @include iphone {
            width: 87%;
        }
        padding-left: 5%;
    }
    &__title {
        color: $white;
        font-family: $heading-font-family;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 1rem 0 0 0;
    }
    &__job {
        color: $primary-blue;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.01rem;
        margin: 0.5rem 0;
    }
    &__description {
        color: $white;
        margin: 1rem 0 0.7rem 0;
    }
    &__timeline {
        border-right: 2px solid $primary-blue;
        width: calc(100% - 8px);
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        padding-right: 8px;
    }
    &__timeline::before {
        content: "";
        background: $darkgrey;
        border: 2px solid $primary-blue;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 6px;
        right: -7px;
        position: absolute;
    }
    &__timeline::after {
        content: "";
        background: $darkgrey;
        border: 2px solid $primary-blue;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 6px;
        right: -7px;
        bottom: 0;
        position: absolute;
    }
    &__dateto {
        color: $white;
        position: absolute;
        top: 0;
        margin: 0;
        font-size: 3.2vw;
        @include iphone {
            font-size: 1.8vw;
        }
        @include tablet {
            font-size: 0.8rem;
        }
    }
    &__dateto span {
        display: inline;
        @include desktop-small {
            display: block;
        }
        @include desktop {
            display: inline;
        }
    }
    &__datefrom {
        color: $white;
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 3.2vw;
        @include iphone {
            font-size: 1.8vw;
        }
        @include tablet {
            font-size: 0.8rem;
        }
    }
    &__datefrom span {
        display: inline;
        @include desktop-small {
            display: block;
        }
        @include desktop {
            display: inline;
        }
    }
    // &__expand {
    //     display: none;
    // }
    &__viewmore {
        font-family: $heading-font-family;
        border: 2px solid $primary-blue;
        padding: 0.8rem 2.2rem;
        color: $primary-blue;
        text-decoration: none;
        font-weight: 800;
        letter-spacing: 0.05rem;
        font-size: 0.98rem;
        background: transparent;
        transition: background 0.15s ease-in;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    &__viewmore:hover {
        background: #08597d;
        color: $white;
    }
    &__list {
        // margin-left: 0;
        padding-left: 1rem;
        //list-style-image: url(../../images/chevron-solid.svg);
        // list-style-type: none;
        // font-style: italic;
        // font-weight: bold;
        color: $primary-blue;
    }
    &__listli {
        color: $white;
        margin-bottom: 0.7rem;
    }
    &__listli span {
        padding:0;
        margin:0;
        position: relative;
        left: -3px;
    }
}