.header {
    width: 180px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Define transition properties */
    transform: translateX(-180px);
    display: none;
    @include tablet {
        transform: translateX(0);
        display: block;
    }
    opacity: 1;
    position: fixed;
    letter-spacing: 0.03rem;
    height: 510px;
    @include laptop {
        width: 215px;
        letter-spacing: 0.06rem;
        height: 560px;
    }
    @include desktop-small {
        width: 235px;
        height: 590px;
    }
    @include desktop {
        width: 265px;
        height: 630px;
    }
    background: $darkestgrey;
    &__profile {
        width: 100%;
        height: auto;
        position: relative;
    }
    &__profileimg {
        width: 100%;
        filter: grayscale(100%);
    }
    &__profileclose {
        width: 16px;
        height: 16px;
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        opacity: 0.7;
        display: none;
        padding: 13px 11px;
        cursor: pointer;
        @include tablet {
            display: block;
        }
    }
    &__profilename {
        color: $white;
        text-transform: uppercase;
        text-align: center;
        background: rgba(78, 182, 240, 0.8);
        padding: 1rem 1.25rem;
        letter-spacing: 0rem;
        font-size: 0.9rem;
        @include laptop {
            font-size: 1rem;
            padding: 1.1rem 1.45rem;
            letter-spacing: 0.03rem;
        }
        @include desktop-small {
            font-size: 1.1rem;
            padding: 1.1rem 1.55rem;
            letter-spacing: 0.05rem;
        }
        @include desktop {
            padding: 1.1rem 1.8rem;
            letter-spacing: 0.15rem;
        }
        font-weight: bold;
        position: relative;
        bottom: 2.2px;
        left: 0;
        right: 0;
        margin: -45px 0 0 0;
    }
    &__profileicon {
        width: 23px;
        margin-right: 11px;
        position: absolute;
        top: 12px;
        left: 18px;
        @include laptop {
            left: 24px;
        }
    }
    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 180px;
        @include laptop {
            width: 215px;
        }
        @include desktop-small {
            width: 235px;
        }
        @include desktop {
            width: 265px;
        }
    }
    &__sticky {
        position: relative;
        width: 180px;
        @include laptop {
            width: 215px;
        }
        @include desktop-small {
            width: 235px;
        }
        @include desktop {
            width: 265px;
        }
        top: 43px;
    }
}

.headerHidden {
    transform: translateX(-215px);
    opacity: 0;
    height: 0;
    @include desktop-small {
        transform: translateX(-235px);
    }
    @include desktop {
        transform: translateX(-265px);
    }
}
.contentHidden {
    width: calc(100% - 0px);
}
.closeHidden {
    transform: rotate(315deg);
    animation-name: rotate_close;
    animation-duration: 1s;
}
@keyframes rotate_close {
    from {transform: rotate(0);}
    to {transform: rotate(315deg);}
}

.header__menu .header__menulist .header__menulink {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 0.79rem;
    padding: 1.1rem 1rem 1.1rem 3rem;
    @include laptop {
        font-size: 0.9rem;
        padding: 1.1rem 1.5rem 1.1rem 3.5rem;
    }
    @include desktop-small {
        font-size: 0.95rem;
        padding: 1.1rem 2rem 1.1rem 3.5rem;
    }
    display: block;
    border-bottom: 1px solid #333;
    position: relative;
    opacity: 0.6;
    background: transparent;
    transition: background 0.16s ease-in;
}
.header__menu .header__menulist .header__menulink:hover {
    opacity: 1;
    background: black;
}