.mainheading {
    border-bottom: 1px dashed $midgrey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.88rem;
    &__icon {
        width: 40px;
        @include tablet {
            width: 46px;
        }
        height: auto;
        margin-top: 1.3rem;
    }
    &__title {
        color: $primary-blue;
        font-family: $heading-font-family;
        font-size: 2.05rem;
        @include iphone {
            font-size: 2.2rem;
        }
        @include tablet {
            font-size: 2.4rem;
        }
        @include laptop {
            font-size: 2.6rem;
        }
        margin: 1.7rem 0.6rem 0.6rem 0;
    }
    &__mobilehide {
        display: none;
        @include laptop {
            display: inline;
        }
    }
}